### 1. Create prime_list that has numbers between 2~10 as its elements. Then, use list indexing to the first element of the list and print as shown below.

In [3]:
prime_list = list(range(2,11))
print("The first element of the ´prime_list´ list is {}.".format(prime_list[0]))

The first element of the ´a´ list is 2.

### 2. Create prime_list that has prime numbers between 1~10 as its elements. Then, use the append method to add 11. Print the results before and after addition as shown below.

In [4]:
prime_list_1 = list(range(1,11))
prime_list_1.append(11)
prime_list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### 3. For the list1 and list2, use the nested for loop to multiply each element of list1 and list2 and then print the result with the element multiplication result.

In [11]:
list1 = [3,5,7]
list2 = [2,3,4,5,6]
for x in list1:
  for y in list2:
    print("{} x {} = {}".format(x, y, x*y))

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42

### 3. There is a list with the string s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq’]. Implement the following function to this list. Do not use the min function or sort method to print the shortest string from the strings of s_list. (If there are multiple shortest strings, print the string that shows the first as following.)
output ex: The shortest string : abc

In [17]:
def find_shortest_string(s_list):
    if not s_list:
        return None  # Return None if the list is empty

    shortest = s_list[0]  # Assume the first string is the shortest

    for string in s_list:
        if len(string) < len(shortest):  # If the current string is shorter than the current shortest
            shortest = string

    return shortest

s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'op']
shortest_string = find_shortest_string(s_list)

if shortest_string:
    print("The shortest string:", shortest_string)
else:
    print("The list is empty.")

The shortest string: op

### 4. From the pair programming problem earlier, the length of 'abc', 'bcd', 'opq’ are the same as 3. Likewise, if the string lengths are the same, write a program that prints all of the three shortest strings as follows. Use the sort(key=len) function to sort the strings by length and then write a code.

In [19]:
strings_list = ['abc', 'bcd', 'bcdefg', 'aa', 'cc', 'opq']
shortest_len = len(strings_list[0])
shorts = []
for i in strings_list:
  if len(i) < shortest_len:
    shortest_len = len(i)
for s in strings_list:
  if len(s) == shortest_len:
    shorts.append(s)
print(shorts)

['aa', 'cc']

### 5. Create the capital_dic dictionary with the following string key-value items. Then, use the capital_dic to write results regarding Korea in the following dictionary items

In [20]:
capital_dic = {'Korea': 'Seoul','China': 'Beijing','USA': 'Washington DC'}

#output the capital of Korea
print(capital_dic['Korea'])

Seoul

### 6. Create the fruits_dic dictionary that has elements of the following key-value items. Then, use this dictionary to print the price of each fruit as shown below.

In [24]:
fruits_dic = {'apple': 5000,'banana': 4000,'grape': 5300, 'melon': 6500}

for key, value in fruits_dic.items():
  print(('The price of a {} is {} KRW.').format(key, value))

The price of a apple is 5000 KRW.
The price of a banana is 4000 KRW.
The price of a grape is 5300 KRW.
The price of a melon is 6500 KRW.

### 7. Create the fruits_dic dictionary consists of key-value pairs including ('apple', 6000), ('melon', 3000), ('banana', 5000), ('orange', 4000). Then, print all of the key in the fruits_dic as list type and examine if the ‘apple’ and ‘mango’ keys are found in the fruits_dic, and print as follows.

In [26]:
fruits_dic = {'apple': 6000,'banana': 5000,'grape': 4000, 'melon': 3000}
a = list(fruits_dic.keys())

In [27]:
'apple' in a

True

### 8. The following tuple records daily sales of a store for 10 days. Write a code to print how many days had reduced sales compared to previous day. (Hint: compare the values by iterating the elements with the iteration statement.)

In [30]:
sales = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125, 455)
sales_reduced = 0
for i in range(1, len(sales)):
  sales_main_day = sales[i]
  sales_prev_day = sales[i-1]
  if sales_main_day - sales_prev_day < 0:
    sales_reduced += 1
print(('In the past 10 days, {} days had reduced sales compared to the previous day.').format(sales_reduced))

In the past 10 days, 3 days had reduced sales compared to the previous day.

### 9. Return the element with the maximum number of occurrences. When there are more than two frequent elements, print the highest number.
Given tuples: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9)
The most frequent element: 9

In [31]:
tuples = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9) 
most_frequent_element = tuples[0]
for x in tuples:
  y = tuples.count(x)
  if tuples.count(x) > tuples.count(most_frequent_element):
    most_frequent_element = x
print(most_frequent_element)

3

In [32]:
tuples = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9)

count = {}  # Dictionary to store the count of each element

# Count the occurrences of each element in the tuple
for element in tuples:
    if element in count:
        count[element] += 1
    else:
        count[element] = 1

most_frequent_element = None
max_count = 0

# Find the most frequent element and the highest count
for element, frequency in count.items():
    if frequency > max_count or (frequency == max_count and element > most_frequent_element):
        most_frequent_element = element
        max_count = frequency

print(most_frequent_element)

9

### 10. In the output example below, there are the tuples containing elements, as well as empty tuples, empty strings and empty lists that have no elements. Write a code to remove these empty tuples, empty strings and empty lists from the given list below. (However, do not remove (,) tuple because it is considered as having one empty tuple.) 
Given tuples: [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']
The most frequent element: [(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)

In [39]:
given_tuples = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']

filtered_tuples = [element for element in given_tuples if (element != () and element != '' and element != [])]

print("Filtered tuples:", filtered_tuples)

Filtered tuples: [(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]

### 11. Put the two-dimensional arrays [[10, 20], [30, 40], [50, 60]] into the variable list_array and output 30. Do the correct indexing.

In [42]:
a = [[10, 20], [30, 40], [50, 60]]
a[1][0]

30

### 12. Create a 2D list of 4 x 4 size with values ranging from 1 to 16 and print all the elements using the for loop.

In [45]:
matrix = []
for i in range(1,16,4):
  line = []
  for j in range(4):
    line.append(i+j)
  matrix.append(line)
print(matrix, end = ' ')

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [47]:
for m in matrix:
  for n in m:
    print(n, end = ' ')
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

### 13. Write a program that generates a multidimensional array of n×n size, based on the number of inputs, by receiving two or more n as inputs from users. In this case, the content of the arrangement should be displayed so that the values of 0 and 1 intersect in a checkered pattern.

In [ ]:
# Get the number of inputs
num_inputs = int(input("Enter the number of inputs: "))

arrays = []
for _ in range(num_inputs):
    n = int(input("Enter the value of n: "))

    array = [[0] * n for _ in range(n)]

    for i in range(n):
        for j in range(n):
            if (i + j) % 2 == 0:
                array[i][j] = 1

    arrays.append(array)

# Display the generated arrays
for i, array in enumerate(arrays):
    print(f"Array {i+1}:")
    for row in array:
        print(row)

### 14. Let's create a dictionary named person_dic with the following contact information on your phone. Print this information using the for loop to show the output results below.

In [51]:
person_dic = {"Last name" : "Doe", "First name" : "David", "Company" : "Samsung"}
for key, value in person_dic.items():
  print("{} : {}".format(key, value))

Last name : Doe
First name : David
Company : Samsung

### 15. Let's write a program that performs inventory management at a convenience store. To this end, inventory of items sold at convenience stores is stored in the items dictionary as shown in the example below. Write a program that receives the name of the item from users and returns the inventory of the item. Suppose that it is a very small convenience store and the items treated are as following.

In [53]:
items = {"Coffee": 7, "Pen":3, "Paper cup": 2, "Milk": 1, "Coke": 4, "Book":5}
while True:
  try:
    k = input("Enter an item:")
    if k in items.keys():
      break
    else:
      raise ValueError
  except ValueError:
    print("Try again!")
print("The stock of {} is {}. Thank you!".format(k, items[k]))

Enter an item:Pen
The stock of Pen is 3. Thank you!

### 16. Let's upgrade the program to manage the inventory of convenience stores that we solved in paper coding. In other words, add code to increase or decrease inventory. Also, make simple menus such as inventory inquiry, warehousing, and shipment.

In [89]:
items = {"Coffee": 7, "Pen":3, "Paper cup": 2, "Milk": 1, "Coke": 4, "Book":5}

menu = int(input("Select menu 1)check stock 2)warehousing 3) release 4) exit: "))

if menu == 1:
    print('You chose to check stock from menu. Please read next line:')
    item = input("Enter item: ")
    if item in items.keys():
      print("Stock: {}.".format(items[item]))

if menu == 2:
  print('You chose to warehouse an item stock from menu. Please read next line:')
  item = input("Enter item: ")
  if item in items.keys():
    print('The current stock is: {}.'.format(items[item]))
    quantity = int(input("Enter quantity: "))
    items[item] += quantity
    print('The new stock is {}.'.format(items[item]))
  elif item not in items.keys():
    items[item] = 0
    quantity = int(input("Enter quantity: "))
    items[item] += quantity

if menu == 3:
  print('You chose to release an item stock from menu. Please read next line:')
  item = input("Enter item: ")
  if item in items.keys():
    print('The current stock is: {}.'.format(items[item]))
    quantity = int(input("Enter quantity: "))
    if (items[item] - quantity) >= 0:
      items[item] -= quantity
      print('The new stock is: {}.'.format(items[item]))
    else:
      print('Not enough stock! Try again!')
  else:
    print('Unidentified item!')

if menu == 4:
  print('You chose to exit the menu. Thank you!')

elif menu != [1, 2, 3, 4]:
  print('Not in the menu!')

Select menu 1)check stock 2)warehousing 3) release 4) exit: 4
You chose to exit the menu. Thank you!

### 17. A tuple called study_tup, which has three pairs of elements: student ID number, name, and phone number, exists as shown below. Modify the student_tup below to create and print a dictionary of the pair {student ID number : [name, phone number]}.

In [91]:
student_tup = (('211101', 'David Doe', '010-1234-4500'), ('211102', ' John Smith', '010-2230-6540'), ('211103', ' Jane Carter', '010-3232-7788'))
dict = {}
for id, name, phone in student_tup:
  dict[id] = [name, phone]
print(dict)

{'211101': ['David Doe', '010-1234-4500'], '211102': [' John Smith', '010-2230-6540'], '211103': [' Jane Carter', '010-3232-7788']}

### 18. Write a bachelor's information program using the student_tup above to receive the student's student ID number as input and print the student’s name and phone number.

In [93]:
student_tup = (('211101', 'David Doe', '010-1234-4500'), ('211102', 'John Smith', '010-2230-6540'), ('211103', 'Jane Carter', '010-3232-7788'))

# Get the student ID number as input
student_id = input("Enter the student ID number: ")

found = False

# Iterate through the student tuples
for student in student_tup:
    if student[0] == student_id:
        found = True
        print("Name:", student[1])
        print("Phone number:", student[2])
        break

if not found:
    print("Student ID not found.")

Enter the student ID number: 211101
Name: David Doe
Phone number: 010-1234-4500

### 19. The student_tuple list with tuples as elements is as shown below. Tuple, which is the element of this list consists of a (student ID number, name, phone number). Using this, make a dictionary for (student ID number: name) and print it out. When inquiring by student ID number, make sure that the student ID number, name, and phone number are printed as shown below.

In [94]:
student_tuple = [('211101', 'David Doe', '010-123-1111'), ('211102', 'John Smith', '010-123-2222'), ('211103', 'Jane Carter', '010-123-3333')]

# Get the student ID number as input
student_id = input("Enter the student ID number: ")

found = False

# Iterate through the student tuples
for student in student_tup:
    if student[0] == student_id:
        found = True
        print("{} student is {} and phone number is {}.".format(student_id, student[1],  student[2]))
        break

if not found:
    print("Student ID not found.")

Enter the student ID number: 211102
211102 student is John Smith and phone number is 010-2230-6540.:

### 20. Use the set function to generate and print the set s1 from the next list lst.

In [95]:
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
s1

{'apple', 'banana', 'mango'}

### 21. Write down the computational results for the following two sets. Find the results from 1) to 7).

In [96]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}

In [97]:
# s1 | s2 = {10, 20, 30, 40, 50, 60, 70}
s1 | s2

{10, 20, 30, 40, 50, 60, 70}

In [98]:
# s1 & s2 = {30, 40}
s1 & s2

{30, 40}

In [100]:
#s1 – s2 = {10, 20}
s1 - s2

{10, 20}

In [101]:
# s1 ^ s2 = {10, 20, 50, 60, 70}
s1 ^ s2

{10, 20, 50, 60, 70}

In [102]:
# s1.issubset(s2) = False
s1.issubset(s2)

False

In [103]:
# s1.issuperset(s2) = False
s1.issuperset(s2)

False

In [104]:
# s1.isdisjoint(s2) = False
s1.isdisjoint(s2)

False

### 22. Takes user input for two integers and checks if the pair exists in a given list of tuples.

In [105]:
mylist = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)] #declaring my list of tuples

while True:
  try:
    m, n = map(int, (input("")).split(sep = ",")) #getting the input from the user
    break
  except ValueError:
    print("Please enter a valid integer: ")
    
a = (m,n) #asssigning the tuple to a variable for easier usage
if a in mylist: #if the tuple is in the list
  position = mylist.index(a) + 1 #check the position
  print("There is {} at {}.".format(a, position)) #output exression if condition is met

elif a[::-1] in mylist: #if the reversed tuple is in the list
  position = mylist.index(a[::-1]) + 1 #check the position
  print("There is {} at {}.".format(a[::-1], position)) #output to be printed in case the second condition is met

else: #in any other case
  print("There is no {} nor {}.".format(a,a[::-1])) #output this message

5,6
There is no (5, 6) nor (6, 5).