## Exercices

### 1. If there are two lists l1 and l2 with the following strings, use the combination of l1 and l2 to print as follows.

In [ ]:
l1 = ["I like", "I love"]
l2 = ["pancake.", "kiwi juice.", "espresso."]
# Nested loops to combine elements from l1 and l2
for x in l1: #iterating over the elements in the first list
  for y in l2: #itearting over the elements in the second list
    print(x,y) #output the expression

I like pancake.
I like kiwi juice.
I like espresso.
I love pancake.
I love kiwi juice.
I love espresso.

In [ ]:
#list comprehension
l1 = ["I like", "I love"]
l2 = ["pancake.", "kiwi juice.", "espresso."]
[print(x,y) for x in l1 for y in l2]

I like pancake.
I like kiwi juice.
I like espresso.
I love pancake.
I love kiwi juice.
I love espresso.

[None, None, None, None, None, None]

### 2. The person dictionary is defined as follows. Add a new item to this person dictionary with the key 'Father' and the value 'John Doe'. And then print the person dictionary.

In [ ]:
#declaring a dictionary
person = {"I like" : "David Doe", "Age" : 26, "Weight" : 82, "Job" : "Data Scientist"}
person["Father"] = "John Doe" #adding a new element to the dictionary
print(person) #checking the updated version of the dictionary

{'I like': 'David Doe', 'Age': 26, 'Weight': 82, 'Job': 'Data Scientist', 'Father': 'John Doe'}

In [ ]:
person = {"I like" : "David Doe", "Age" : 26, "Weight" : 82, "Job" : "Data Scientist"}
person.update()

### 3. With tuple data, the values of two variables can be swapped without using a temporary variable. Using this swapping method, write a program that moves the largest value in the given list to the last.

In [ ]:
#declaring a list variable
lista = [5, 6, 3, 9, 2, 12, 3, 8, 7]
lista[-1],lista[lista.index(max(lista))] = max(lista), lista[-1] #swapping the max value of the list with the last value of the list
lista #checking the output

[5, 6, 3, 9, 2, 7, 3, 8, 12]

### 4. The two-dimensional array a contains the values [[1, 2], [3, 4], [5, 6]]. Change this two-dimensional array to a onedimensional array like [1, 2, 3, 4, 5, 6], and print it out.

In [ ]:
a = [[1, 2], [3, 4], [5, 6]]
b = [] #creating an empty list
for x in a: #iterating over the lists in a
  for i in x: #iterating over the elements of the lists in a
    b.append(i) #appending every element of the list to the new list
print(b) #printing the output

[1, 2, 3, 4, 5, 6]

In [ ]:
#list comprehension
a = [[1, 2], [3, 4], [5, 6]]
b = [i for x in a for i in x]
print(b)

[1, 2, 3, 4, 5, 6]

### 5. There is a dictionary variable maria as follows. In this dictionary variable, courses such as ‘korean' and ‘english' and their scores are stored as key:value. Print the average score of 89.25 for maria's subject scores.

In [ ]:
maria = {"korean" : 94, "english" : 91, "mathematics" : 89, "science" : 83} #given dictionary
sum = 0 #creating a int variable with the value 0 
for value in maria.values(): #iterating over the values in the key-value pairs in the dictionary
  sum += value #summing every value to the variable with 0 value
  avg = sum / len(maria) #calculating the average by dividing the sum to the number of items of the dictionary
print("The average score for Maria´s subject scores is: {}.".format(avg)) #printing the result

The average score for Maria´s subject scores is: 89.25.

### 6. Declare a nested dictionary school as follows. Next, use the deepcopy() function of the copy module to write a program that 'copy' to another variable, school2. (Check that school and school2 are different variables through the is operator.)

In [ ]:
#declaring the dictionary
school = {"kim" : {"age" : 16, "hei" : 170, "grade" : 3}, "lee" : {"age" : 15, "hei" : 168, "grade" :2}, "choi" : {"age" : 14, "hei" : 173, "grade" : 1}}
from copy import deepcopy #importing the copy package
school2 = deepcopy(school) #creating a copy of list1 in a list2 variable
print("school1 and school2 are the same dictionary: {}.".format(school is school2)) #checking if the copy was created

school1 and school2 are the same dictionary: False.

### 7. There is a scores tuple as follows. This tuple contains information about four students, including each student's name and English, math, and science grades. For example, ‘Hyun’ has an English score of 88, a math score of 95, and a science score of 90. Extract only math scores by unpacking the scores tuple. Write a code that calculates the average of these extracted math scores.

In [4]:
scores = ( ("Hyun", 88, 95, 90), ('Kang', 85, 90, 95), ("Park", 70, 90, 80), ("Hong", 90, 90, 95))
name, english, math, science = zip(*scores)
print(math)
avg = sum(math)/len(math)
print('The average of the math scores is {}.'.format(avg))

(95, 90, 90, 90)
The average of the math scores is 91.25.